<template lang="jade">
  div.modal-mask(v-show="show")
    div.modal-wrapper
      div.modal-container
        div.modal-body
          h1.title 选择教材
          div.book-container
            div.book-item(v-for="book in books" v-on:click="tmp_index = $index"  v-bind:class="{'highlight': tmp_index==$index}")
              img.cover-img(v-bind:src="book.cover_url")
              p.book-title {{ book.name }}
        div.modal-footer
          button.btn.btn-primary.btn-modal(v-on:click="select()") 选择
          button.btn.btn-default.btn-modal(v-on:click="back()") 关闭

</template>

<script>
  export default {
    props: ['show', 'books', 'selected_book_index'],
    data() {
      return {
        tmp_index: null,
      }
    },
    methods: {
      select() {
        this.show = false;
        this.selected_book_index = this.tmp_index;
      },
      back() {
        this.show = false;
      },
    }
  };
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.input-label {
  font-size: 1.2em;
}

.modal-container {
  width: 80%;
  margin: 30px auto;
  padding: 0 3px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  max-height: 500px;
  overflow: scroll;
}

.modal-default-button {
  float: right;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.book-item {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  cursor: pointer;
  height: 185px;
  margin-bottom: 20px;
}
.book-title {
  line-height: 1.8;
}
.cover-img {
  width: 120px;
  height: 160px;
}
.highlight {
  border: 2px solid #f2b51b;
  background-color: #f2b51b;
  opacity: 0.8;
}

</style>
