<template lang="jade">
  div.modal-mask(v-show="show_create" transition="modal")
    div.modal-wrapper
      div.modal-container
        div.modal-body
          h1.input-label 输入班级名称
          input.form-control(type='text' id='class-name' v-model="name" placeholder='班级名称')
          h1.input-label 选择教材
          img.cover-img(v-bind:src="bookUrl" alt="请选择教材" v-show="bookUrl")
          div.cover-img.empty-cover-img(v-show="!bookUrl")
            p 请选择教材
          div(v-on:click="select()").choose-book 选择教材

        div.modal-footer
          button.btn.btn-warning.btn-modal(v-on:click="createKlass()") 创建班级
          button.btn.btn-default.btn-modal(v-on:click="show_create = false") 关闭
  chooseklass(v-bind:books="books" v-bind:show.sync="showModal" v-bind:selected_book_index.sync="selectedBookIndex")
</template>

<script>
import chooseklass from '../components/ChoooseKlassModal.vue';
export default {
  components: { chooseklass },
  data() {
    return {
      name: null,
      book_id: null,
      books: [],
      showModal: false,
      defaultUrl: null,
      selectedBookIndex: null,
    };
  },

  props: {
    show_create: true,
    modal_klasses: [],
  },
  computed: {
    bookUrl() {
      return this.selectedBookIndex && this.books[this.selectedBookIndex].cover_url || this.defaultUrl;
    },
  },

  methods: {
    select() {
      this.showModal = true;
      this.$resource('/api/book').get().then((response) => {
        this.books = response.data;
      });
      this.show_create = true;
    },
    createKlass: function() {
      const resource = this.$resource('/api/klass');
      if (!this.selectedBookIndex) {
        alert("请选择教材");
        return;
      }
      const bookId = this.books[this.selectedBookIndex].id;
      resource.save({ name: this.name, book_id: bookId}).then(function (response) {
        const data = response.data;
        this.modal_klasses = data;
        this.show_create = false;
        this.defaultUrl = null;
        this.name = '';
        this.selectedBookIndex = null;
      });
    },
  },
};
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 35%;
  margin: 30px auto;
  padding: 0 3px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.cover-img {
  width: 120px;
  height: 160px;
}
.empty-cover-img {
  border: solid 1px #999;
}
.choose-book {
  width: 120px;
  height: 30px;
  border: solid 1px #f2b51b;
  border-radius: 3px;
  margin: 10px 0;
  cursor: pointer;
  color: #f2b51b;
  font-size: 16px;
  line-height: 2;
  text-align: center;
}
h1 {
  color: #f2b51b;
}

</style>
