<template lang="jade">
  div.modal-mask(v-show="show_join" transition="modal")
    div.modal-wrapper
      div.modal-container
        div.modal-body
          p.input-label 输入班级号
          input(type='text', name='class-code', placeholder='班级码', v-model="code")
        div.modal-footer
          button.btn.btn-warning.btn-modal(v-on:click="join_klass()") 加入班级
          button.btn.btn-default.btn-modal(v-on:click="show_join = false") 关闭
</template>

<script>
  export default {
    props: ['show_join', 'modal_klasses'],
    data() {
      return {
        code: '',
      };
    },

    methods: {
      join_klass() {
        const resource = this.$resource(`/api/join_klass/?code=${this.code}`);
        resource.get().then((response) => {
          this.show_join = false;
          this.$parent.klasses.push(response.data);
        }, (response) => {
          alert(response.data);
        });
      },
    },
  };
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.input-label {
  font-size: 1.2em;
}

.modal-container {
  width: 35%;
  margin: 30px auto;
  padding: 0 3px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-modal {
  margin: 0 10px;
}

</style>
