<template lang="jade">
div.klass(v-on:click="updateKlassname()")
  div.klass-layer
    div.klass-image(v-bind:class="colorClassObject")
    div.klass-text
      p.klass-title {{ klass.name }}
      p.klass-subtitle 班号: {{ klass.code }}
</template>

<script>
export default {

  props: ['klass', 'is_student', 'klass_index'],
  computed: {
    colorClassObject() {
      const color_classes = ['klass-image-bg-yellow', 'klass-image-bg-blue', 'klass-image-bg-green', 'klass-image-bg-red'];
      const color = color_classes[this.klass_index % 4];
      var rv = {};
      rv[color] = true;
      return rv;
    },
  },
  methods: {
    updateKlassname() {
      console.log(this.klass.name);
      this.$root.klass_name = this.klass.name;
      const router = this.$route.router;
      router.go(this.getKlassLink());
    },
    getKlassLink() {
      if (this.is_student) {
        return { name: 'student_assignment', params: { klass_id: this.klass.id } };
      }
      return { name: 'teacher_klass_overview', params: { klass_id: this.klass.id } };
    },
  },
};
</script>

<style scoped>
  .klass-layer:hover {
    background-color: #ffffff;
    opacity: 0.76;
    filter: alpha(opacity=76);
    width: 200px;
    height: 170px;
    border-radius: 5px;
  }
  .klass-image {
    height: 80px;
    border-radius: 5px 5px 0 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  .klass-image-bg-yellow {
    background-color: #f5b61b;
    background-image: url('../img/yellow-hat.png');
  }
  .klass-image-bg-green {
    background-color: #add518;
    background-image: url('../img/green-hat.png');
  }
  .klass-image-bg-blue {
    background-color: #5bd7d6;
    background-image: url('../img/blue-hat.png');
  }
  .klass-image-bg-red {
    background-color: #fb9474;
    background-image: url('../img/red-hat.png');
  }
  .klass-join-image {
    position: relative;
    width: 200px;
    height: 170px;
  }

  .klass-join-title {
    position: absolute;
    top: 100px;
    right: 68px;
  }
  .klass-subtitle {
    font-size: 14px;
    color: #a8a8a8;
  }

  .klass-image img {
   margin: 10px 0;
  }

  .klass-text {
    padding: 20px;
  }

</style>
