<template lang="jade">
  div.assignment-piece-done
    div.assignment-title
      p.unit-text {{ unit }}
      div.flag
        div.label-status-done
          p.status {{ statusText }}
        div.arrow-down-done
    div.assignment-btn(v-link="{ name: 'question_detail', params: {klass_id: klass_id, homework_id: homework_id, stem_id: stem_id}}")
      p.submit-stem {{ btnText }}
</template>

<script>

export default {
  props: ['unit', 'status', 'link', 'stem_id', 'klass_id', 'homework_id'],
  computed: {
    statusText() {
      return { 0: '未做', 2: '已做', 3: '已做' }[this.status];
    },
    btnText() {
      return { 0: '去完成', 2: '重做', 3: '重做' }[this.status];
    },
  },
  methods: {
    submitTo(link) {
      this.$resource(link).save().then((response) => {
        console.log(response.data);
        this.status = response.data.status;
      });
    },
  },
};

</script>

<style scoped>
  .assignment-piece-done {
    width: 186px;
    height: 81px;
    border: 1px solid #5bd7d6;
    background-color: #f0fafc;
    margin: 10px;
    text-align: center;
    float: left;
  }

  .flag {
    position: absolute;
    top: 0;
  }

  .label-status-done {
    width: 40px;
    height: 20px;
    background-color: #5bd7d6;
  }

  .arrow-down-done {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid #5bd7d6;
  }

  p.status{
    color: #ffffff;
    text-align: center;
  }

  .assignment-title{
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
  }
  .unit-text{
    color: #707070;
    display: inline;
    font-size: 20px;
    line-height: 2em;
  }

  .lesson-title {
    color: #707070;
  }

  .submit-stem {
    color: #fff;
    background-color: #5bd7d6;
    width: 100%;
    height: 50%;
    font-size: 16px;
    line-height: 2.4em;
    cursor: pointer;
  }

</style>
