<template lang="jade">
  div.assignment-piece(v-link="{ name: 'teacher_question_detail', params: {klass_id: klass_id, assignment_id: homework_id, stem_id: question.id }}")
    p.unit-text {{ question.unit }}
    p.lesson-title {{ question.lesson_name }}
</template>

<script>

export default {
  props: ['question', 'klass_id', 'homework_id'],
  methods: {
  },
};

</script>

<style scoped>
  .assignment-piece {
    width: 186px;
    height: 81px;
    border: 1px solid #5bd7d6;
    background-color: #f0fafc;
    margin: 10px;
    text-align: center;
    display: inline-block;
    padding: 0;
  }

  .unit-text{
    color: #707070;
    display: inline;
    font-size: 20px;
    line-height: 2em;
    height: 50%;
  }
  .lesson-title {
    color: #707070;
    height: 50%;
    line-height: 3em;
  }
</style>
