<template lang='jade'>
  div.assignment-grid(v-for='q in questions')
    template(v-if='q.is_finished')
      questionblockfinished(:unit="q.unit", :lesson_name='q.lesson_name')
    template(v-else)
      questionblockunfinished(:unit="q.unit", :stem_id="q.id", :status="q.status", :klass_id="klass_id", :homework_id="homework.id")
  div.clearfix
</template>

<script>
  import questionblockfinished from '../components/QuestionBlockFinished.vue';
  import questionblockunfinished from '../components/QuestionBlockUnFinished.vue';

  export default {
    props: ['klass_id', 'homework'],
    components: { questionblockfinished, questionblockunfinished },
    computed: {
      homework_id() {
        if (this.homework) {
          return this.homework.id;
        }
      },
      questions() {
        if (this.homework) {
          return this.homework.questions;
        }
      },
    },
};
</script>
