<template lang="jade">
  div.assignment-piece-done
    div.assignment-title
      p.unit-text {{ unit }}
      div.flag
        div.label-status-done
          p.status 已做
        div.arrow-down-done
    div.assignment-btn
      p.lesson-title {{ lesson_name }}
</template>

<script>

export default {
  props: ['unit', 'lesson_name'],
}

</script>

<style scoped>
  .assignment-piece-done {
    width: 186px;
    height: 81px;
    border: 1px solid #5bd7d6;
    background-color: #f0fafc;
    margin: 10px;
    text-align: center;
    float: left;
  }

  .flag {
    position: absolute;
    top: 0;
  }

  .label-status-done {
    width: 40px;
    height: 20px;
    background-color: #5bd7d6;
  }

  .arrow-down-done {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid #5bd7d6;
  }

  p.status{
    color: #ffffff;
    text-align: center;
  }

  .assignment-title{
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
  }
  .unit-text{
    color: #707070;
    display: inline;
    font-size: 20px;
    line-height: 2;
  }

  .lesson-title {
    color: #707070;
  }

</style>
