<template lang="jade">
div.row.assignment-item(v-on:click="toggle()")
  div.col-md-3 {{ assignment.name }}
  div.col-md-3 {{{ status_text }}}
  div.col-md-3 {{{ do_error_questions }}}
  div.col-md-2 {{{ do_homework }}}
  div.col-md-1
    div(v-bind:class="isOpened? arrowUp: arrowDown")
div.row(v-show="isOpened")
  questiongrid(:klass_id="klass_id", :homework="assignment")
</template>

<script>
import questiongrid from '../components/QuestionGrid.vue';

export default{
  props: ['index', 'assignment', 'klass_id'],
  components: { questiongrid },
  data() {
    return {
      arrowUp: 'yellow-arrow-up',
      arrowDown: 'yellow-arrow-down',
      isOpened: false,
    };
  },
  computed: {
    status_text() {
      if (this.assignment.is_finished) {
        return '<p>已做</p>';
      }
      return '<p style="color: red">未完成</p>';
    },
    do_error_questions() {
      if (this.assignment.has_error) {
        return '<p style="color: #f9af28">错题再练</p>';
      }
      return '<p>错题再练</p>';
    },
    do_homework() {
      if (this.assignment.is_finished) {
        return '<p style="color: #f9af28">重做</p>';
      }
      return '<p style="color: #f9af28">去完成</p>';
    },
  },
  methods: {
    toggle() {
      this.isOpened = !this.isOpened;
    },
  },
};
</script>
