<template lang="jade">
  div.assignment-container
    div.container-title
      h3.title 今日作业
      questiongrid(:klass_id="klass_id", :homework="currentAssignment")
      div.clearfix
    div.container-title
      h3.title 历史作业
    div.assignment-piece(v-for="assignment in assignments")
      studentassignmentblock(v-bind:assignment="assignment", v-bind:klass_id="klass_id")
    div.assignment-piece(v-if="assignments.length===0")
      p 暂时还没有新的作业啦
</template>

<script>
import questiongrid from '../../components/QuestionGrid.vue';
import studentassignmentblock from '../../components/StudentAssignmentBlock.vue';

export default{

  components: { questiongrid, studentassignmentblock },

  route: {
    data({ to }) {
      this.klass_id = to.params.klass_id;
      const resource1 = this.$resource(`/api/student/assignments/klass/${this.klass_id}`);
      resource1.get().then(function (response) {
        this.assignments = response.data;
        this.assignments.reverse();
        this.currentAssignment = this.assignments.shift();
      });
      document.title = '学生作业';
    },
  },

  data() {
    return {
      assignments: [],
      currentAssignment: null,
      klass_id: null,
    };
  },

  computed: {
    user() {
      return this.$root.user;
    },
  },
};
</script>

<style scoped>
  .assignment-container {
    border-radius: 10px;
    width: 950px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
  }

</style>
