<template lang="jade">
div.container-main
  div.klass
    div.klass-join-image(v-on:click="chooseModal()")
      img(src='../img/join-class.png' width='200' height='170')
      p.klass-join-title {{ is_student? "加入班级" :"创建班级" }}
  template(v-for="klass in klasses")
    klassblock(v-bind:klass="klass" v-bind:is_student="is_student" v-bind:klass_index="$index")
  JoinModal(v-bind:modal_klasses.sync="klasses" v-bind:show_join.sync="showJoinModal")
  CreateModal(v-bind:modal_klasses.sync="klasses" v-bind:show_create.sync="showCreateModal")
</template>

<script>
import joinmodal from '../components/JoinModal.vue';
import createmodal from '../components/CreateModal.vue';
import klassblock from '../components/KlassBlock.vue';

export default {
  components: { joinmodal, createmodal, klassblock },

  data() {
    return {
      klasses: [],
      is_student: null,
      showJoinModal: false,
      showCreateModal: false,
    };
  },

  route: {
    data() {
      this.$root.klass_name = '';
    },
  },

  created() {
    document.title = '我的班级';
    this.fetchData();
  },

  computed: {
    is_student() {
      return this.$root.is_student;
    },
  },

  methods: {
    fetchData() {
      const resource = this.$resource('/api/klass');
      resource.get().then(function (response) {
        const data = response.data;
        this.klasses = data;
      });
    },
    chooseModal() {
      if (this.is_student) {
        this.showJoinModal = true;
      } else {
        this.showCreateModal = true;
      }
    },

  },
};
</script>

<style>
  .container-main {
    width: 950px;
    margin: 10px auto;
    padding-top: 20px;
  }

  .klass {
    float: left;
    width: 200px;
    height: 170px;
    margin: 10px 15px;
    border-radius: 5px;
    border: 1px solid #efefef;
    background-color: #ffffff;
    opacity: 100%;
    text-align: center;
    cursor: pointer;
  }

  .klass-join-image {
    position: relative;
    width: 200px;
    height: 170px;
  }

  .klass-join-title {
    position: absolute;
    top: 100px;
    right: 68px;
  }
  .klass-subtitle {
    font-size: 14px;
    color: #a8a8a8;
  }

  .klass-image img {
   margin: 10px 0;
  }

  .klass-text {
    padding: 20px;
  }

  footer {
   max-height: 50px;
   height: 10px;
  }


</style>
