<template lang="jade">
  div.assignment-container
    p(v-if="loading") 加载中
    div(v-else)
      iframe.question-preview(v-bind:src="questionPreview")
      div.nav-bottom
        button.btn-lg.btn-back(v-on:click="goBack") 返回
        button.btn-lg.btn-forward.btn-warning(v-on:click="submit") 完成
</template>

<script>
export default {
  route: {
    data({ to }) {
      document.title = '做题';
      this.homework_id = to.params.homework_id;
      this.klass_id = to.params.klass_id;
      this.stem_id = to.params.stem_id;
      const resource = this.$resource(`/api/pop_question/${this.stem_id}`);
      resource.get().then((response) => {
        const question = response.data;
        this.nodeId = question.node_id;
        this.unit = question.unit;
        this.render_question();
      });
    },
  },

  data() {
    return {
      questionPreview: null,
      homeworkId: null,
      questionId: null,
      klass_id: null,
      nodeId: null,
      unit: '',
      currentIndex: 0,
      loading: false,
    };
  },

  methods: {
    render_question() {
      const resource = this.$resource(`/api/question/${this.nodeId}?unit=${this.unit}`);
      resource.get().then(function (response) {
        this.questionPreview = response.data;
      });
    },
    submit() {
      this.loading = true;
      const resource = this.$resource(`/api/homework/${this.homework_id}/question/${this.stem_id}`);
      resource.save().then(() => {
        this.loading = false;
        alert('提交成功');
        this.goBack();
      });
    },
    goBack() {
      const router = this.$route.router;
      router.go({ name: 'student_assignment', params: { klass_id: this.klass_id } });
    },
  },
};

</script>

<style>
  .question-preview {
    height: 400px;
    width: 100%;
    border: 0 None;
  }

  .nav-bottom {
    height: 100px;
    position: relative;
    margin-top: 35px;
  }

  .btn-back {
    width: 48%;
    height: 48px;
    float: left;
    background-color: #2cb5ae;
    color: #ffffff;
  }

  .circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: solid 5px #abf235;
    float: left;
    position: absolute;
    margin: 0 auto;
    left: 425px;
    top: -8px;
    z-index: 2;
    background-color: #fff;
  }

  .btn-forward {
    width: 48%;
    height: 48px;
    float: right;
  }

  .circle-index {
    text-align: center;
    vertical-align: middle;
    line-height: 40px !important;
  }
</style>

