{% load render_bundle from webpack_loader %}
{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
<script src={% static "pace.min.js" %}></script>
<link href={% static "css/pace-theme-minimal.css" %} rel="stylesheet" />
</head>
  <app></app>
  {% render_bundle 'main' 'js' %}
<body>
</html>
