<template lang="jade">
  div.assignment-container
    div.container-title
      h3.title 查看原题
      template(v-for='q in questions')
        questionblockpreview(:question="q", :klass_id="klassId", :homework_id="assignmentId")
</template>
<script>
import questionblockpreview from '../../components/QuestionBlockPreview.vue';

export default {
  components: { questionblockpreview },
  route: {
    data({ to }) {
      document.title = '查看原题';
      this.assignmentId = to.params.assignment_id;
      this.klassId = to.params.klass_id;
      const resource = this.$resource(`/api/teacher/assignment/${this.assignmentId}/node_ids`);
      resource.get().then(function (response) {
        this.questions = response.data;
      });
    },
  },
  data() {
    return {
      assignmentId: null,
      klassId: null,
      questions: [],
    };
  },
};
</script>
