<template lang="jade">
  div.assignment-container
    iframe.question-preview(v-bind:src="questionPreview")
    div.nav-bottom
      button.btn-lg.btn-back(v-on:click="previous") BACK
      div.circle
        h4.circle-index {{ shownIndex }} / {{ questions.length }}
      button.btn-lg.btn-forward.btn-warning(v-on:click="next") OK
</template>

<script>
export default {
  route: {
    data({ to }) {
      document.title = '作业预览';
      this.assignmentId = to.params.assignment_id;
      const resource = this.$resource(`/api/teacher/assignment/${this.assignmentId}/node_ids`);
      resource.get().then(function (response) {
        this.questions = response.data;
        this.render_question();
      });
    },
  },

  data() {
    return {
      questionPreview: null,
      klass_id: null,
      questions: [],
      currentIndex: 0,
    };
  },

  computed: {
    shownIndex: function () {
      const _showIndex = this.currentIndex + 1;
      return Math.min(_showIndex, this.questions.length);
    },
  },

  methods: {
    render_question: function () {
      const question = this.questions[this.currentIndex];
      const nodeId = question.node_id;
      const unit = question.unit;
      const resource = this.$resource(`/api/question/${nodeId}?unit=${unit}`);
      resource.get().then(function (response) {
        this.questionPreview = response.data;
      });
    },
    next: function () {
      const router = this.$route.router;
      this.currentIndex++;
      if (this.currentIndex < this.questions.length) {
        this.render_question();
      }
    },
    previous: function () {
      if (this.currentIndex > 0) {
        this.currentIndex--;
        this.render_question();
      }
    },
  },
};
</script>

<style>
  .question-preview {
    height: 400px;
    width: 100%;
    border: 0 None;
  }

  .nav-bottom {
    height: 100px;
    position: relative;
    margin-top: 35px;
  }

  .btn-back {
    width: 48%;
    height: 48px;
    float: left;
    background-color: #2cb5ae;
    color: #ffffff;
  }

  .circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: solid 5px #abf235;
    float: left;
    position: absolute;
    margin: 0 auto;
    left: 425px;
    top: -8px;
    z-index: 2;
    background-color: #fff;
  }

  .btn-forward {
    width: 48%;
    height: 48px;
    float: right;
  }

  .circle-index {
    text-align: center;
    vertical-align: middle;
    line-height: 40px !important;
  }
</style>
