<template lang="jade">
  div.table-header-tabs
    div.tab(v-bind:class="tagIndex===1 ? tagActive : tagNormal" v-on:click="switchTag(1)") 当下作业
    div.tab(v-bind:class="tagIndex===2 ? tagActive : tagNormal" v-on:click="switchTag(2)") 查看作业
    div.clearfix
  div.assignment-container(v-show="tagIndex===1")
    div.current-assignment-piece(v-on:click="currentToggle()" v-if="latestAssignment")
      div.row.assignment-item.current-assignment-item
        div.col-md-5
          p.assignment-completed-text 完成时间: {{ latestAssignment.formatted_publish_time}} 至 {{ latestAssignment.formatted_finish_time}}
        div.col-md-3
          a(v-link="{ name: 'teacher_preview_assignment', params: {klass_id: klass_id, assignment_id: latestAssignment.id}}") 查看原题
        div.col-md-2
          p 总人数: {{ latestAssignment.total_count }}
        div.col-md-2
          p 未完成: {{ latestAssignment.unfinished_count }}
      div.students-status(v-show="currentShowToggle")
        div.row.students-status-row
          div.col-md-6.row.students-status-item(v-for="student in latestAssignment.students_status")
            div.col-md-6
              p {{ student.name }}
            div.col-md-6
              p {{ student.status_text }}
  div.assignment-container(v-show="tagIndex===2")
    div.assignment-piece(v-for="assignment in assignments" v-on:click="toggle($index)")
      div.row.assignment-item
        div.col-md-3
          p {{ assignment.name }}
        div.col-md-3
          p 总人数: {{ assignment.total_count }}
        div.col-md-3
          p 未完成: {{ assignment.unfinished_count }}
        div.col-md-2
          a(v-link="{ name: 'teacher_preview_assignment', params: {klass_id: klass_id, assignment_id: assignment.id}}") 查看原题
        div.col-md-1
          div(v-bind:class="unitShowToggle[$index] ? arrowDown : arrowUp")
      div.students-status(v-show="unitShowToggle[$index]")
        div.row.students-status-row
          div.col-md-6.row.students-status-item(v-for="student in assignment.students_status")
            div.col-md-6
              p {{ student.name }}
            div.col-md-6
              p {{ student.status_text }}
</template>

<script>
  export default {
    route: {
      data ({ to }){
        document.title = '历史作业'
        this.klass_id = to.params.klass_id;
        var resource = this.$resource(`/api/klass/${this.klass_id}/assignment`);
        resource.get().then(function (response) {
          this.assignments = response.data;
          this.assignments.reverse();
          this.latestAssignment = this.assignments.shift();
        })
      }
    },

    data () {
      return {
        klass_id: null,
        unitShowToggle: [],
        currentShowToggle: false,
        assignments: [],
        arrowUp: "yellow-arrow-up",
        arrowDown: "yellow-arrow-down",
        tagIndex: 1,
        tagActive: 'active',
        tagNormal: 'normal',
        latestAssignment: null,
      }
    },

    methods: {
      toggle(index){
        this.unitShowToggle.$set(index, !this.unitShowToggle[index]);
      },
      switchTag(tagIndex) {
        this.tagIndex = tagIndex;
      },
      currentToggle(){
        this.currentShowToggle = !this.currentShowToggle;
      }
    }
}

</script>

<style>
  p {
    color: #707070;
  }
  .current-assignment-piece {
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    padding: 8px;
  }
  .assignment-piece {
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    border-bottom: solid 1px #fce4ba;
    padding: 8px;
  }
  .assignment-piece:hover {
    background-color: #fffcec;
  }
  .students-status {
    margin-top: 5px;
    padding: 0 50px;
  }
  .students-status-item:nth-child(even) {
    border-left: 1px solid #707070;
  }
  .students-status-row {
    padding-bottom: 50px;
  }
  .assignment-item {
    text-align: left;
  }
  .current-assignment-item {
    border-bottom: solid 1px #fce4ba;
    padding-bottom: 5px;
  }
  .container-title {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .title{
    color: #f49f19;
  }
  .table-header-tabs {
    width: 950px;
    margin: 0 auto;
  }
  .table-header-tabs .tab {
    width: 133px;
    height: 42px;
    float: left;
    margin-right: 8.5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 2.5em;
    border-radius: 4px;
    cursor: pointer;
  }
  .table-header-tabs .active {
    background-color: #f9af28;
    color: #fff;
  }
  .table-header-tabs .normal {
    background-color: #fff;
    color: #bfbfbf;
  }
  .assignment-completed-text {
    color: #2cb5ae;
  }


</style>
