<template lang="jade">
  div.assignment-container
    div.row
      div.col-md-3.nav-left(v-bind.unitShowToggle=unitShowToggle)
        div.units(v-for="unit in units")
            div.unit-section(v-on:click="toggle($index)")
              div.unit-label(v-bind:class="unitShowToggle[$index] ? arrowDown : arrowUp")
              h4 {{ unit.node }}
            div(v-show="unitShowToggle[$index]")
              div.chapter-section(v-for="chapter in unit.children[0].children")
                strong {{ chapter.node }}
                div.lesson-section(v-for="lesson in chapter.children")
                  input.choose-lesson(type="checkbox" id="{{ lesson.id }}" value="{{ lesson.id }}" v-model="checkedQuestions" v-on:change="chooseQuestion($event, unit.node, lesson.id, chapter.node )")
                  label(for="{{ lesson.id }}") {{ lesson.node | remove_surfix }}
            hr.hr-orange
      div.col-md-9.question-container
        img.question-preview(src="../../img/q_preview_bg.png" v-show="!questionPreview")
        iframe.question-preview(v-bind:src="questionPreview" v-show="questionPreview")
        div.setup
          div.form-group
            label(for="setFinishTime") 完成时间
            datetime.set-finish-time(formart="YYYY-M-D" id="setFinishTime" v-bind:value.sync="finishTime")
            button.btn-create-assignment(v-on:click="create_homework") 完成
</template>

<script>
  import datetime from 'vue-datetimepicker';
  export default {
    components: { datetime },
    route: {
      data({ to }) {
        document.title = '布置作业';
        this.klass_id = to.params.klass_id;
        const resource = this.$resource(`/api/question_tree/${this.klass_id}`);
        resource.get().then((response) => {
          this.units = response.data;
          this.units.forEach(() => {
            this.unitShowToggle.push(false);
          });
        });
      },
    },
    filters: {
      remove_surfix(name) {
        return name.split('#')[0] || name;
      },
    },
    data() {
      return {
        questionPreview: null,
        finishTime: '',
        klass_id: null,
        checkedQuestions: [],
        units: [],
        unitShowToggle: [],
        DELIMETER: ' | ', // ugly but have no choice
        arrowUp: 'yellow-arrow-up',
        arrowDown: 'yellow-arrow-down',
        questionDetail: {},
      };
    },
    methods: {
      toggle(index) {
        this.unitShowToggle.$set(index, !this.unitShowToggle[index]);
      },
      chooseQuestion(event, unit, nodeId, lessonName) {
        this.questionDetail[nodeId] = { unit: unit, lesson_name: this.remove_surfix(lessonName) };
        this.get_preview_question(event, unit, nodeId);
      },
      get_preview_question(event, unit, nodeId) {
        if (event.target.checked) {
          const resource = this.$resource(`/api/question/${nodeId}?unit=${unit}`);
          resource.get().then(function (response) {
            this.questionPreview = response.data;
          });
        }
      },
      create_homework() {
        var questions = [];
        if (!this.finishTime) {
          alert('请选择完成时间');
          return;
        }
        if (this.checkedQuestions.length === 0) {
          alert('请选择至少一道题目');
          return;
        }
        const resource = this.$resource(`/api/klass/${this.klass_id}/assignment`);
        const router = this.$route.router;
        this.checkedQuestions.forEach((item) => {
          this.questionDetail[item].node_id = item;
          questions.push(this.questionDetail[item]);
        });
        resource.save({ finish_time: this.finishTime, questions: questions }).then(
          () => {
            alert('创建成功');
            router.go({ name: 'teacher_klass_overview', params: { klass_id: this.klass_id } });
          });
      },
     remove_surfix(name) {
       return name.split('#')[0] || name;
     },
    },
};
</script>

<style>
  .nav-left {
    color: #707070;
  }
  .question-preview {
    height: 400px;
    width: 100%;
    border: 0 None;
  }
  .setup {
    margin: 20px 0;
  }
  .btn-create-assignment {
    width: 230px;
    color: #fff;
    background-color: #f9af28;
    border-radius: 6px;
    line-height: 1;
    height: 38px;
    padding: 10px 16px;
    font-size: 18px;

  }
  .set-finish-time {
    margin: 0 20px;
  }
  .nav-left div {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .choose-lesson {
    margin-right: 7px !important;
  }
  .chapter-section {
    margin: 7px 0;
  }
  label {
    display: inline !important;
    font-weight: 400 !important;
  }
  .unit-section {
    cursor: pointer;
    height: 50px;
  }
  .yellow-arrow-down{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #f9a928;
  }
  .yellow-arrow-up{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f9a928;
  }
  .unit-label {
    float: right;
    position: relative;
    right: 15px;
    top: 18px;
  }

</style>
