<template lang="jade">
div.main-body
  div.action-group
    div.action(v-link="{ name: 'teacher_create_assignment', params: {klass_id: klass.id}}")
      div.action-layer
        div.action-left.yello-grid
          img.action-img(src="../../img/add.png")
        p.action-right 布置作业
    div.action(v-link="{ name: 'teacher_assignment_list', params: {klass_id: klass.id}}")
      div.action-layer
        div.action-left.green-grid
          img.action-img(src="../../img/search.png")
        p.action-right 查看作业
  div.assignment-container
    div.book-intro
      h4.title 教材
      img.cover-img(src="{{ bookUrl }}")
      div(v-on:click="select()").choose-book 选择教材
    hr.hr-orange
    div.klass-intro
      h4.title 班级概况
      p 班级名: {{ klass.name }}
      p 班级号: {{ klass.code }}
    hr.hr-orange
    div.students-intro
    h4.title 学生数 / {{ student_count }}人
    div.students-detail.row
      template(v-for="student in students")
        div.col-md-2.name {{ student.username }}
        div.col-md-2.indenty {{ student.account_id }}
        div.col-md-2.delete-action
          a(v-on:click="kick_student($index)") 删除
  chooseklass(v-bind:books="books" v-bind:show.sync="showModal" v-bind:selected_book_index.sync="selectedBookIndex")
</template>

<script>
import chooseklass from '../../components/ChoooseKlassModal.vue';

export default {
  components: { chooseklass },

  route: {
    data ({ to }){
      const klass_id = to.params.klass_id;
      var resource = this.$resource(`/api/klass/${klass_id}`);
      resource.get().then(function (response) {
        var data = response.data;
        this.klass = data.klass;
        this.klassname = this.klass.name;
        this.students = data.students;
        this.student_count = this.students.length;
      })
    }
  },
  computed: {
    bookUrl() {
      if (!this.selectedBookIndex) {
        return this.klass.book_cover_url;
      }
      const selectBookId = this.books[this.selectedBookIndex].id;
      const url = `/api/klass/${this.klass.id}/book/${selectBookId}`;
      this.$resource(url).save();
      return this.books[this.selectedBookIndex].cover_url;
    },
  },

  data() {
    return {
      klass: null,
      klassname: null,
      students: [],
      student_count: 0,
      showModal: false,
      books: [],
    };
  },
  props: ['klassname'],
  methods: {
    select() {
      this.showModal = true;
      this.$resource('/api/book').get().then((response) => {
        this.books = response.data;
      });
    },
    kick_student(index) {
      if (confirm('确定要删除该学生么？')) {
        const studentId = this.students[index].id;
        const resource = this.$resource(`/api/kick_student_from_klass/${this.klass.id}/${studentId}`);
        resource.save();
        this.students[index].id = null;
        this.student_count --;
      }
    },
  },
  filters: {
    length(arr) {
      return arr.length;
    },
  },
};

</script>

<style scoped>
  .action-layer:hover{
    background-color: #ffffff;
    opacity: 0.76;
    filter: alpha(opacity=76);
  }
  .action-group{
    width: 590px;
    height: 90px;
  }
  .action{
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .action-left {
    float: left;
    width: 100px;
    height: 80px;
    border-radius: 5px 0 0 5px;
  }
  .action-img {
    position: relative;
    top: 20px;
    left: 30px;
  }
  .action-right {
    float: left;
    width: 170px;
    height: 80px;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    line-height: 4.5;
    text-align: center;
    color: #a2a2a2;
  }
  .yello-grid {
    background-color: #f2b51b;
  }
  .green-grid {
    background-color: #5bd7d5;
  }
  .main-body {
    width: 950px;
    margin: 0 auto;
  }
  .delete-action {
    cursor: pointer;
  }
  .cover-img {
    width: 120px;
    height: 160px;
  }
  .choose-book {
    width: 120px;
    height: 30px;
    border: solid 1px #f2b51b;
    border-radius: 3px;
    margin: 10px 0;
    cursor: pointer;
    color: #f2b51b;
    font-size: 16px;
    line-height: 2;
    text-align: center;
  }
  .choose-book:hover {
    background-color: #f0f0f0;
  }
</style>
