<template lang="jade">
  div.assignment-container
    p(v-if="loading") 加载中
    div(v-else)
      iframe.question-preview(v-bind:src="questionPreview")
</template>

<script>
export default {
  route: {
    data({ to }) {
      document.title = '查看原题';
      this.assignment_id = to.params.assignment_id;
      this.klass_id = to.params.klass_id;
      this.stem_id = to.params.stem_id;
      const resource = this.$resource(`/api/pop_question/${this.stem_id}`);
      resource.get().then((response) => {
        const question = response.data;
        this.nodeId = question.node_id;
        this.unit = question.unit;
        this.render_question();
      });
    },
  },

  data() {
    return {
      questionPreview: null,
      homeworkId: null,
      questionId: null,
      klass_id: null,
      nodeId: null,
      unit: '',
      currentIndex: 0,
      loading: false,
    };
  },

  methods: {
    render_question() {
      const resource = this.$resource(`/api/question/${this.nodeId}?unit=${this.unit}`);
      resource.get().then(function (response) {
        this.questionPreview = response.data;
      });
    },
    goBack() {
      const router = this.$route.router;
      router.go({ name: 'teacher_preview_assignment', params: { klass_id: this.klass_id, assignment_id: this.assignment_id } });
    },
  },
};

</script>

<style>
  .question-preview {
    height: 400px;
    width: 100%;
    border: 0 None;
  }
</style>
