<template lang="jade">
div.app
  div.header
    div.header-close
    div.header-main
      div.logo(v-link="{ name: 'homepage' }")
          img.logo-img(src="./img/logo.png")
      div.class-name.clearfix
        h3 {{ klass_name }}
      div.user-info
        img.user-img(src="./img/user.png")
        p.user-name {{ username }}
  div.pop-container
    router-view()
    footer
</template>

<script>
export default {
  data() {
    return {
      username: null,
      user: null,
      is_student: null,
      klass_name: '',
    };
  },

  created: function() {
    this.fetchUserProfile();
  },

  methods: {
    fetchUserProfile: function() {
      const resource = this.$resource('/api/user_profile');
      resource.get().then(function (response) {
        const data = response.data;
        this.user = data;
        this.username = data.username;
        this.is_student = data.is_student;
      });
    },
  },
};
</script>

<style>
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #efefef !important;
  }
  .pop-container {
    min-height: 540px;
    width: 100%;
    padding: 10px 0;
  }
  .header-close {
    height: 42px;
    background-color: #2cb5ae;
  }
  .header-main {
    height: 80px;
    background-color: #ffffff;
    margin: 0;
    padding: 15px 0;
  }
  .logo {
    float: left;
    padding-left: 50px;
    width: 30%;
    cursor: pointer;
  }
  .class-name {
    float: left;
    text-align: center;
    color: #56c0ba;
    width: 40%;
    margin: 0 auto;
  }
  .user-info {
    float: right;
    margin-right: 20px;
    height: 64px;
    padding: 17px 0;
    width: 10%;
  }
  .user-img {
    position: relative;
    top: -1px;
    margin-right: 3px;
  }
  .user-name {
    display: inline;
    vertical-align: top;
    color: #d2d9dd;
    font-size: 20px;
  }
  .header {
    height: 122px;
  }
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  a {
   color: #f9af28 !important;
  }
  .assignment-container{
    border-radius: 10px;
    width: 950px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
  }
  .hr-orange{
    border-color: #fce4ba;
    margin: 5px 0;
  }
</style>
